<h1 class="text-center">Proyecto Final</h1>
<div class="container">
  <div class="row centerContent" *ngFor="let rows of map">
    <div class="box" *ngFor="let columns of rows">
      <div *ngIf="columns == 0">

      </div>
      <div *ngIf="columns == 1" class="red">

      </div>
      <div *ngIf="columns == 2" class="blue">

      </div>
      <div *ngIf="columns == 3" class="green">

      </div>
    </div>
  </div>
</div>
<br>
<div class="container centerContent">
  <button *ngIf="gameState == 0" type="button" class="btn btn-primary" (click)="execute()">Movimiento</button>
  <a *ngIf="gameState == 1 || gameState == 2" [href]="fileUrl" download="ROBCOM.txt">Descargar Archivo</a>
</div>